.counter-box {
    text-align: center;
}

.stopwatch {
    font-size: 3rem;
    font-weight: 600;
    color: navy;
}

.stopwatch-controls button {
    width: 20%;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    color: white;
    background-color: navy;
    border-color: #f8f9fa;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}